#game-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#game-list li {
  margin: 10px;
}

.game-button {
  background-color: #424242;
  border: none;
  border-radius: 10px;
  width: 160px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s ease-in-out;
  animation: float-bounce 2s ease-in-out infinite;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 10px;
  padding: 10px;
  outline: none;
}

.game-button:hover {
  background-color: #616161;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.game-button.featured {
  background-color: #191970;
}

.game-button.featured:hover {
  background-color: #191970;
}
