@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  margin: 0;
  background: linear-gradient(135deg, #009999, #004d4d);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: #f0f0f0;
  transition: background 0.5s ease;
}

.hidden {
  top: -60px;
  transition: top 0.3s ease;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.header-center {
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.left-margin {
  margin: 0px 16px;
}

#uv-frame {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('https://www.transparenttextures.com/patterns/ocean-waves.png');
  background-size: cover;
  background-color: #111;
}

#uv-error {
  color: #ff6666 !important;
  white-space: pre-wrap;
}

#uv-error-code {
  font-size: 14px;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}

#uv-register-sw {
  color: #fff;
  background: #007777;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 18px 24px;
  font-size: 16px;
  display: none;
  transition: background 0.3s, transform 0.3s;
}

#uv-register-sw:active {
  background: #005555;
  transform: scale(0.95);
}

#uv-register-sw.show {
  display: block;
}

.logo {
  width: 150px;
  height: 150px;
  background: url('https://www.transparenttextures.com/patterns/ocean-waves.png');
  background-size: cover;
  border-radius: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-wrapper .text {
  font-size: 60px;
  font-weight: bold;
  color: #a8a8a8;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.logo-wrapper h1 {
  color: #ffffff;
  font-size: 30px;
}

footer {
  margin: 0 5vw;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  line-height: 32px;
  margin-bottom: 20px;
  color: #fff;
}

footer > div {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

footer a,
footer span {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: color 0.3s;
}

footer a {
  cursor: pointer;
}

footer a:hover {
  text-decoration: underline;
  color: #00cccc;
}

.desc p {
  width: 500px;
  font-size: 16px;
  color: rgba(109, 109, 109, 0.85);
  text-align: center;
}

#uv-address {
  background: rgba(255, 255, 255, 0.15);
  font-family: inherit;
  padding: 12px 20px;
  height: 50px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 40px;
  outline: none;
  width: 350px;
  margin-top: 10px;
  transition: all 0.3s;
  backdrop-filter: blur(10px);
  text-align: center;
}

#uv-address::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  font-size: 16px;
}

#uv-address:focus {
  border: 2px solid rgba(253, 253, 253, 0.9);
  border-radius: 12px;
}

.credit {
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  border: #fff 1px solid;
  color: #fff;
  margin-bottom: 15px;
}

.credit label {
  margin-left: auto;
  margin-right: 15px;
}

.credit a,
.credit label {
  color: #ffffff;
  text-decoration: underline;
  text-align: right;
  font-size: 14px;
}

.credit pre {
  display: none;
  width: 100%;
}

.credit label::after {
  content: "show license";
  cursor: pointer;
}

.credit input:checked + label::after {
  content: "hide license";
}

.credit input:checked ~ pre {
  display: block;
}