.navbar {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 20px;
  background-color: #2e2e2e;
  padding: 10px 20px;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  transition: box-shadow 0.3s ease-in-out;
  animation: float-bounce 2s ease-in-out infinite; 
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  border-radius: 20px; /* Ensures a curved shape */
}

.navbar a:hover {
  background-color: #616161;
  transform: scale(1.1); /* Slight scaling effect */
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.5); 
  border-radius: 20px; /* Creates the curved rectangle effect */
}

.navbar .logo {
  font-size: 18px;
  font-weight: bold;
}
